<p id="notice"><%= notice %></p>

<p>
  <strong>Oab:</strong>
  <%= @lawyer.OAB %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lawyer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lawyer.email %>
</p>

<p>
  <strong>Field of work:</strong>
  <%= @lawyer.field_of_work %>
</p>

<%= link_to 'Edit', edit_lawyer_path(@lawyer) %> |
<%= link_to 'Back', lawyers_path %>
