
<a href="/" class="logotype center">Nice Start</a>

<hr>

<h3 class="text-center">Cria nova conta</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :OAB, 'OAB' %><br />
    <%= f.text_field :OAB, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :field_of_work_id, 'Área de atuação' %><br />
    <%= f.collection_select :field_of_work_id, FieldOfWork.all, :id, :title, {prompt: 'Escolha sua área de atuação'}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "E-mail" %><br />
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Senha" %>
    <% if @minimum_password_length %>
    <em>(no mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Confirme sua senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Criar conta", class: 'btn btn-block btn-primary' %>
  </div>
<% end %>
<hr>
<p class="text-center">Já possui uma conta?</p>
<%= render "lawyers/shared/links" %>
