<div class="container">
  <div class="row">
    
    <div class="col-xs-12">
      <%= link_to 'voltar para Clientes direito trabalhista', forms_path, class: "page-back-link" %>
    </div>

    <div class="col-xs-12 page-header">
      <div class="row">
        <div class="col-xs-6">
          <h1>Maria da Silva Ribeiro <br><small>Formulário de Direito trabalhista</small></h1>
        </div>
        <div class="col-xs-6 text-right">
          <%= link_to 'Baixar formulário em PDF', new_form_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h4>Dados pessoais</h4>
      <hr>
      <strong>CPF:</strong> 058.901.138-22 <br>
      <strong>RG:</strong> 8.992.876-5<br>
      <strong>E-mail:</strong> maria@live.com<br>
      <strong>Telefone:</strong> (41) 9922-3399<br>
      <strong>Endereço:</strong>
      <address>
        Rua Visconde do Rio Branco, 1546<br>
        Centro, Curitiba, Paraná<br>
        80.420-210 <br>
      </address>
    </div>
    <div class="col-sm-9">
      <h4>Respostas</h4>
      <dl><hr>
        <dt class="lead text-info">Qual é o nome da empresa que você trabalhava?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et rhoncus nisi. Donec iaculis euismod aliquet. Nam varius purus felis, at luctus libero eleifend ac. Curabitur vitae orci sem. Donec suscipit id nunc a malesuada. Vivamus tellus metus, aliquam ut cursus id, luctus id metus. Nulla facilisi. Nunc quis tempor sem, nec vulputate enim. Nam pulvinar tristique sem, a ullamcorper nibh porta vitae. Fusce aliquet varius consequat. Aenean ut elit in purus bibendum luctus ultrices eget nisi.</dd>
        <hr>
        <dt class="lead text-info">Faça upload de uma foto da sua carteira de trabalho</dt>
        <dd><a href="#" class="btn btn-success">Baixar PDF</a></dd>
        <hr>
        <dt class="lead text-info">Pergunta 3</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et rhoncus nisi. Donec iaculis euismod aliquet. Nam varius purus felis, at luctus libero eleifend ac. Curabitur vitae orci sem. Donec suscipit id nunc a malesuada. Vivamus tellus metus, aliquam ut cursus id, luctus id metus. Nulla facilisi. Nunc quis tempor sem, nec vulputate enim. Nam pulvinar tristique sem, a ullamcorper nibh porta vitae. Fusce aliquet varius consequat. Aenean ut elit in purus bibendum luctus ultrices eget nisi.</dd>
        <hr>
        <dt class="lead text-info">Pergunta 4</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et rhoncus nisi. Donec iaculis euismod aliquet. Nam varius purus felis, at luctus libero eleifend ac. Curabitur vitae orci sem. Donec suscipit id nunc a malesuada. Vivamus tellus metus, aliquam ut cursus id, luctus id metus. Nulla facilisi. Nunc quis tempor sem, nec vulputate enim. Nam pulvinar tristique sem, a ullamcorper nibh porta vitae. Fusce aliquet varius consequat. Aenean ut elit in purus bibendum luctus ultrices eget nisi.</dd>
      </dl>

      <table class="table table-striped">
        <tbody>
          <% @answers.each do |answer| %>
            <tr>
              <td><%= answer.user %></td>
              <td><%= answer.user_input %></td>
              <td><%= answer.upload %></td>
              <td><%= answer.question_option %></td>
              <td><%= link_to 'Show', answer %></td>
              <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
              <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>