
<a href="/" class="logotype center">Nice Start</a>

<hr>

<h3 class="text-center">Recuperar senha</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar email para recuperar senha", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
<hr>
<%= render "lawyers/shared/links" %>
