<script type="text/javascript">
  var types = <%= raw @types.to_json %>;
  var getTypeId = function(type) {
    for (var i in types)
      if (types[i].title == type)
        return types[i].id;
  };
  var questions = <%= raw @form.questions.to_json %>;
</script>

<%= form_for(@form) do |f| %>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="form-group">
        <%= f.label "Nome do formulário" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-sm-3">
      <h3 class="text-center">Adicionar campos</h3>
      <p class="text-center">Clique nos tipos de campos que você deseja adicionar no formulário</p>
      <p class="text-center"><i class="fa fa-angle-down"></i></p>
    </div>
    <div class="col-sm-9">
      <h3 class="text-center">Formulário de perguntas</h3>
      <p class="text-center">Visualize e edite seu formulário abaixo</p>
      <p class="text-center"><i class="fa fa-angle-down"></i></p>
    </div>
    <div class="col-xs-12">
      <div class="form-builder-wrapper" id="formBuilder"></div>
    </div>
  </div>

  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :lawyer_id %><br>
    <%#= f.text_field :lawyer_id %>
  </div>
  <div class="actions">
    <%#= f.submit %>
  </div>
<% end %>
