<div class="container">
  <div class="row">
		
		<div class="col-xs-12">
			<%= link_to 'voltar para lista de formulários', forms_path, class: "page-back-link" %>
		</div>

    <div class="col-xs-12 page-header">
      <div class="row">
        <div class="col-xs-6">
          <h1><%= @form.name %></h1>
        </div>
        <div class="col-xs-6 text-right">
        	<%= link_to 'Editar', edit_form_path(@form), class: 'btn btn-default' %>
            <%= button_tag 'Enviar formulário para cliente', {class: 'btn btn-primary', data: {toggle: "modal", target: "#send-form-modal"}} %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 form-details-metrics">
    	<div class="row">
    		
    		<div class="col-xs-4 col-sm-3 col-lg-2 text-center">
    			<strong class="text-info"><%= @form.questions.all.count %></strong><br>
    			<span class="text-muted">perguntas <br>no formulário</span>
    		</div>
    		
    		<div class="col-xs-4 col-sm-3 col-lg-2 text-center">
    			<strong class="text-info"><%= @form.users.all.count.count %></strong><br>
    			<span class="text-muted">clientes <br>que responderam</span>
    		</div>
    		
    		<div class="col-xs-4 col-sm-3 col-lg-2 text-center">
    			<strong class="text-info"><%= @form.users.all.count.count * 1.3 %></strong><br>
    			<span class="text-muted">horas de reunião<br>economizadas</span>
    		</div>
    	</div>
    </div>

    <div class="col-xs-12 form-responses-wrapper">
    	<div class="row">
    		<div class="col-xs-12">
    			<hr>
    			<br>
    			<h3>Respostas</h3>
    		</div>
    		<div class="col-xs-12">
		      <table class="table table-hover">
		        
            <tbody>
              <% @form.users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user.name, form_user_path(@form, user), class: 'text-md' %>
                  </td>
                  <td class="text-right"><%= link_to 'Ver formulário', form_user_path(@form, user), class: 'btn btn-default' %></td>
                </tr>
              <% end %>
              <% if @form.users.blank? %>
                <tr>
                  <td>
                    Nenhum cliente res  pondeu seu formulário
                  </td>
                </tr>
              <% end %>
		        </tbody>

		      </table>
    		</div>
    	</div>

    </div>

  </div>
</div>

<!-- send form modal -->
<div class="modal fade" id="send-form-modal" tabindex="-1" role="dialog" aria-labelledby="send-form-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <%= form_for(:user, url: form_send_email_path(@form)) do |f| %>  
            <%= hidden_field_tag 'id', @form.id %> 
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="send-form-modalLabel">Enviar formulário para um cliente</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <%= f.label :name %><br>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email %><br>
                <%= f.text_field :email, class: 'form-control' %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
            <%= f.submit 'Enviar', class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>