<!DOCTYPE html>
<html>
<head>
  <title>Nice Start</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main-header bg-info">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h1><a href="/" class="logotype">Nice Start</a></h1>
			</div>
			<div class="col-xs-5">
				<!-- <ul class="nav nav-pills">
				  <li role="presentation" class="active"><a href="#">Formulários</a></li>
				  <li role="presentation"><a href="#">Profile</a></li>
				  <li role="presentation"><a href="#">Messages</a></li>
				</ul> -->
			</div>
			<div class="col-xs-4">
				<strong>Logged User</strong><br>
				<a href="#">minha conta</a>
				<%= link_to('Logout', destroy_lawyer_session_path, :method => :delete) %>
			</div>
		</div>
	</div>
</header>

<%= yield %>

<footer class="main-footer">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12"> Nice Start ® 2016</div>
		</div>
	</div>
</footer>
</body>
</html>
